@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap");

html {
  box-sizing: border-box;
  font-size: 12px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  // overflow: hidden;
}

#root,
.App,
.mapContainer,
.mapBox {
  width: 100%;
  height: 100%;
}

.map {
  position: absolute;
  left: 33.3333%;
  width: 66.6666%;
  top: 0;
  bottom: 0;
  }

.mapboxgl-popup {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: #f18e0c;
  text-rendering: optimizeLegibility;
  width: 180px;
}

// .mapboxgl-popup-tip {
//   background-color: #212529;
// }

.mapboxgl-popup-content {
  padding: 1rem;
  margin: 0;

  > * {
    margin: 0 0 0.5rem;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    border-bottom: 1px solid rgba(black, 0.2);

    b {
      font-size: 1.2rem;
      color: #fff;
      padding: 0 5px;
    }
    span.mild {
      // color: #fff;
      color: #727cb4;
    }
    span.limited {
      color: #a863a9;
    }
    span.moderate {
      color: #ffa600;
    }
    span.serious {
      color: #ff6e54;
    }
    span.extreme {
      color: #dd5182;
    }
  }

  img {
    display: block;
    width: 5rem;
    height: auto;
  }
}

.mild {
}

.info {
  padding-bottom: 15px;
}

div.mapboxgl-popup-content {
  background: transparent;
}

.popup .mapboxgl-popup-content {
  background-color: #212529;
  border: 1px solid turquoise;
}
// .popup .mapboxgl-popup-tip {
//   background-color: #212529;
//   border-top-color: green;
// }

svg {
  transition: transform 0.5s;
  /* Animation */
}

svg:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  fill: #fff;
}

.mapboxgl-ctrl-icon {
  background: rgb(67, 66, 66);
}

.legend {
  // background-color: #282c34;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  // font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;

  padding: 10px;
  // position: absolute;
  // right: 7px;
  // top: 55px;

  height: auto;
  z-index: 2;
  margin: 5px;
}

.legend h4 {
  padding: 0 0 25px 0;
}

.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  margin-right: 5px;

  width: 15px;
}

#menu {
  // position: absolute;
  // right: 12px;
  // top: 10px;
  z-index: 2;
  // height: 5rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#menu a {
  border: 2px solid rgb(31, 174, 160);
  color: rgb(31, 174, 160);
  border-radius: 3px;
  text-decoration: none;
  margin-bottom: 5px;
  background-color: #212529;
}

a:hover {
  color: #212529;
}

a.active:hover {
  color: rgb(223, 237, 235) !important;
}

a:focus {
  color: #212529;
  outline: 1px solid rgb(31, 174, 160) !important;
}

#menu a.active {
  background-color: rgb(31, 174, 160);
  outline: 1px solid rgb(31, 174, 160) !important;
  color: #fff;
}

// .geocoder {
//   position: absolute;
//   z-index: 2;
//   right: 45px;
//   // margin-left: -25%;
//   top: 10px;
// }
// .mapboxgl-ctrl-geocoder {
//   min-width: 50%;
// }



// .match {
//   max-width: 500px;
//   width: 100%;
//   border: 1px solid white;
//   border-radius: 20px;
//   padding: 10px;
//   margin: 10px auto;
// }

// .match:hover {
//   cursor: pointer;
//   background-color: #415766;
// }




.sb {
  position: absolute;
  width: 33.3333%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  z-index: 15;
  }
   
  .map {
  position: absolute;
  left: 33.3333%;
  width: 66.6666%;
  top: 0;
  bottom: 0;
  }
   
  h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
  }
   
  a {
  color: #404040;
  text-decoration: none;
  }
   
  a:hover {
  color: #101010;
  }
   
  .heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  min-height: 60px;
  line-height: 60px;
  padding: 0 10px;
  background-color: #00853e;
  color: #fff;
  }
   
  .listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
  }
   
  .listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
  }
   
  .listings .item:last-child {
  border-bottom: none;
  }
  .listings .item .title {
  display: block;
  color: #00853e;
  font-weight: 700;
  }
   
  .listings .item .title small {
  font-weight: 400;
  }
  .listings .item.active .title,
  .listings .item .title:hover {
  color: #8cc63f;
  }
  .listings .item.active {
  background-color: #f8f8f8;
  }
  ::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-track {
  background: none;
  }
  ::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
  }
   
  .marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(/marker.png);
  z-index: 20;
  }
   
  /* Marker tweaks */
  .mapboxgl-popup {
  padding-bottom: 50px;
  }
   
  .mapboxgl-popup-close-button {
  display: none;
  }
  .mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  width: 180px;
  }
  .mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
  }
   
  .mapboxgl-popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
  }
   
  .mapboxgl-popup-content div {
  padding: 10px;
  }
   
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
  }
   


