img {
  width: 100%;
}

.asia {
  display: block;
  position: absolute;
  left: 65%;
  top: 43%;
  opacity: 1;
  background-color: none;
    width: 120px;
  height: 70px;
   color: rgb(111, 223, 211);
    font-size: .3em;
   text-align: center;
   padding-top: 2em;
}

.asia2 {
  display: block;
  position: absolute;
  left: 65%;
  top: 43%;
  opacity: 1;
  background-color: none;
    width: 120px;
  height: 70px;
   color: orangered;
    font-size: .3em;
   text-align: center;
   padding-top: 2em;
}

.southamerica {
  display: block;
  position: absolute;
  left: 26%;
  top: 68%;
  opacity: 1;
  background-color: none;
    width: 120px;
  height: 70px;
  color: black;
    font-size: .3em;
   text-align: center;
   padding-top: 2em;
}



.europe {
  display: block;
  position: absolute;
  left: 50%;
  top: 33%;
  opacity: 1;
  background-color: none;
    width: 100px;
  height: 70px;
   color: black;
    font-size: .3em;
   text-align: center;
   padding-top: 2em;
}

.africa {
  display: block;
  position: absolute;
  left: 47%;
  top: 60%;
  opacity: 1;
  background-color: none;
    width: 70px;
  height: 70px;
   color: #fff;
    font-size: .3em;
   text-align: center;
   padding-top: 2em;
}

.oceania {
  display: block;
  position: absolute;
  left: 73%;
  top: 74%;
  opacity: 1;
  background-color: none;
    width: 70px;
  height: 70px;
   color: #fff;
    font-size: .3em;
   text-align: center;
   padding-top: 2em;
}

.northamerica {
  display: block;
  position: absolute;
  left: 15%;
  top: 40%;
  opacity: 1;
  background-color: none;
    width: 120px;
  height: 70px;
  color: black;
    font-size: .3em;
   text-align: center;
   padding-top: 2em;
}

.china,
.italy,
.japan,
.iran

 {
  display: block;
  position: absolute;
  
  /* border: 3px solid orange; */
  //  background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%); 
  // background: rgb(255, 196, 0);
  // background-image: linear-gradient(to right, #ded985, #e4d66e, #ebd255, #f3ce38, #fdc806);
    // background-image: linear-gradient(to right, #dea185, #e2875d, #ea6a38, #f34a17, #fd5406);
    //  background-image: linear-gradient(to right, #ded985, #e4d66e, #ebd255, #f3ce38, #fdc806);
  border-radius: 50%;
  background: rgb(8, 65, 60);
  border: 2px solid #fff;
  /* border: 7px solid rgba(245, 171, 53, .1);
     
     border-right: 7px solid rgba(245, 171, 53, .4);
     border-bottom: 7px solid rgba(245, 171, 53, .5); */
  top: 62%;
  width: 70px;
  height: 70px;
  z-index: 12;
  opacity: 0;
   color: #fff;
   font-size: .3rem;
   text-align: center;
   padding-top: 2em;
    transition: opacity 2s ease; 

  animation: spina 24s ease ;
}



.china{
  left: 70%;
  top: 45%;
  animation-delay: 0s;
}
.italy {
  left: 46%;
  top: 40%;
  animation-delay: 6s;
}

.japan{
  left: 75%;
  top: 40%;
  animation-delay: 5s;
}
.iran{
  left: 52%;
  top: 45%;
  animation-delay: 3s;
}

@keyframes spina {
  0% {
    /* transform: rotate(0deg); */
    transform: scale(.1);
  
      opacity: 1;
  }
  50%{
    transform: scale(1);
    //  background: rgb(255, 187, 0);
    
     opacity: .9;
  }
  100% {
    /* transform: rotate(360deg); */
    // background-image: linear-gradient(to right, #ded985, #e4d66e, #ebd255, #f3ce38, #fdc806);
    transform: scale(.1);
      opacity: 1;
  }
}



.york,
.uk,
.russia
 {
  display: block;
  position: absolute;
  /* border: 3px solid orange; */
  /* background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%); */
  // background: rgb(255, 196, 0);
  // background-image: linear-gradient(to right, #deb585, #e4a76e, #eb9e55, #f37d38, #fd6906);
  //  background-image: linear-gradient(to right, #ded985, #e4d66e, #ebd255, #f3ce38, #fdc806);
    background: rgb(21, 168, 156);
  border: 2px solid #fff;
  border-radius: 50%;
  /* border: 7px solid rgba(245, 171, 53, .1);
     
     border-right: 7px solid rgba(245, 171, 53, .4);
     border-bottom: 7px solid rgba(245, 171, 53, .5); */
  top: 62%;
  width: 70px;
  height: 70px;
  z-index: 12;
  opacity: 0;
    color: black;
   font-size: .3em;
   text-align: center;
   padding-top: 2em;
  animation: spinb 36s ease ;
   transition: opacity 2s ease;
}
.york {
  left: 25%;
  top: 35%;
  animation-delay: 20s;
}
.uk {
  left: 42%;
  top: 30%;
   animation-delay: 24s;
}
.russia{
  left: 58%;
  top: 25%;
   animation-delay: 24s;
}

@keyframes spinb {
  0% {
    /* transform: rotate(0deg); */
    transform: scale(.1);
      opacity: 1;
  }
  50%{
    transform: scale(1);
      // background: rgb(255, 196, 0);
      // background-image: linear-gradient(to right, #ded985, #e4d66e, #ebd255, #f3ce38, #fdc806);
     opacity: 0.9;
  }
  100% {
    /* transform: rotate(360deg); */
    transform: scale(.1);
      opacity: 1;
  }
}






.brazil,
.congo,
.indo,
.mexico,
.indi
  {
  display: block;
  position: absolute;
  /* border: 3px solid orange; */
  /* background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%); */
  // background: rgb(255, 196, 0);
  // background-image: linear-gradient(to right, #ded985, #e4d66e, #ebd255, #f3ce38, #fdc806);
  background: rgb(21, 168, 156);
  border: 2px solid #fff;
  border-radius: 50%;
  /* border: 7px solid rgba(245, 171, 53, .1);
     
     border-right: 7px solid rgba(245, 171, 53, .4);
     border-bottom: 7px solid rgba(245, 171, 53, .5); */
  top: 62%;
  width: 70px;
  height: 70px;
  z-index: 12;
  opacity: 0;
    color: black;
   font-size: .3em;
   text-align: center;
   padding-top: 2em;
  animation: spinc 48s ease ;
  transition: opacity 1s ease;
}

.brazil {
  left: 31%;
  top: 69%;
  animation-delay: 48s;
}
.congo {
  left: 44%;
  top: 57%;
  animation-delay: 44s;
}
.indo{
  left: 70%;
  top: 64%;
   animation-delay: 44s;
}
.mexico {
  left: 21%;
  animation-delay: 38s;
}
.indi {
  left: 62%;
  top: 53%;
   animation-delay: 44s;
}

@keyframes spinc {
  0% {
    /* transform: rotate(0deg); */
    transform: scale(.1);
    opacity: 1;
  }
  50%{
    transform: scale(1);
      //  background: rgb(255, 196, 0);
        // background-image: linear-gradient(to right, #dee0d1, #dadaa9, #dcd27f, #e2c852, #ebbc12);
        // background-image: linear-gradient(to right, #dcd99e, #e1d782, #e9d363, #f2ce41, #fdc806);
     opacity: .9;
  }
  100% {
    /* transform: rotate(360deg); */
    transform: scale(.1);
    opacity: 1;

  }
}


.brazil:hover, .indi:hover, .indo:hover, .mexico:hover, .uk:hover, .york:hover, .russia:hover, .japan:hover, .congo:hover, 
.iran:hover, .italy:hover, .china:hover, .asia:hover
  {
     opacity: 0.9 !important;
  }



svg.atom {
  //outline: 1px solid black;
  max-height:50vh;
  max-width:60vw;
  overflow:visible;
  position: absolute;
  left: 20%;
  top: 20%;
  // border: 1px solid #fff;
}

svg.atom2 {
  //outline: 1px solid black;
  max-height:50vh;
  max-width:70vw;
  overflow:visible;
  position: absolute;
  left: 25%;
  top: 15%;
  // border: 1px solid #fff;
}


// svg circle.kern {
//   fill: #ff006a;
//   stroke:none;
//   filter: drop-shadow(10px 10px 24px #7a7864);
// }
.atom path {
  fill:none;
  stroke:#fff;
  //stroke:#EEFF41;
  stroke-width:.05;
}

.atom2 path {
  fill:none;
  stroke:#fff;
  //stroke:#EEFF41;
  stroke-width:.01;
}
/* 129 = ellipse.getTotalLength() */
path.tail {
  stroke: #da3b55;
  //stroke: #1B5E20;
  fill:none;
  animation: atom 12s infinite linear;
  stroke-dashoffset: 0;
  stroke-dasharray: 20,44.5;
  stroke-width: .05;
}
path.electron {
  stroke: #dac23b;
  //stroke:  #1B5E20;
  fill:none;
  animation: atom 12s infinite linear;
  stroke-dashoffset: 0;
  stroke-dasharray: .1,64.4;
  stroke-width: 2;
  stroke-linecap:round;
}
path.tail1, path.electron1 {
  animation-delay:-1.0s;
}
path.tail2, path.electron2 {
  animation-delay:-1.4s;
}
/* 129 = ellipse.getTotalLength() */
@keyframes atom {
  to { stroke-dashoffset:129; }
}




