p {
  font-size: 16px;
  padding: 0.5em 2em 0em 1.5em;
  color: #fff;
}

a:hover {
  text-decoration: none !important;
  color: orangered !important;
  cursor: pointer !important;
}

h4,
h5 {
  padding: 1em 0em 0em 1em;
}


svg {
  display: inline-block;
  vertical-align: middle;
  max-height: 400px;
  width: 100%;
  padding: 0;
}

.grid {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}



.asia {
  display: block;
  position: absolute;
  background: #212529 !important;
  bottom: 15%;
}

.asia:focus, .southamerica:focus, .europe:focus, .northamerica:focus, .oceania:focus, .africa:focus, .global:focus {     
  background: turquoise!important; 
  color: black !important;   
}

.southamerica {
  display: block;
  position: absolute;
  background: #212529 !important;
  bottom: 25%;
}

.europe {
  display: block;
  position: absolute;
  background: #212529 !important;
  bottom: 35%;
}

.africa {
  display: block;
  position: absolute;
  background: #212529 !important;
  bottom: 45%;
}

.oceania {
  display: block;
  position: absolute;
  background: #212529 !important;
  bottom: 55%;
}

.northamerica {
  display: block;
  position: absolute;
  background: #212529 !important;
  bottom: 65%;
}

.global {
  display: block;
  position: absolute;
  background: #212529 !important;
  bottom: 75%;
}



.App-side {
  background-color: #282c34;
  opacity: 0.95;
  height: 100vh;
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(20px + 2.5vmin);
  color: rgb(45, 182, 130);
  border: 1px solid cyan;
  border-radius: 5px;
}


.App-side-button {}


.button {
  height: 3.5rem;
  width: 6rem;
  z-index: 1;
}

.visible {
  z-index: 110;
}


.hidden {
  display: none;
}


.sidebarStyle {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-size: 12px;
}