
p {
  font-size: 16px;
  padding: 0.5em 2em 0em 1.5em;
  color: #fff;
}

  a:hover {
    text-decoration: none !important;
    color: orangered !important;
    cursor: pointer !important;
  }


h4, h5 {
  padding: 1em 0em 0em 1em;
}

.App-header {
  background-color: #282c34;
  height: 0vh;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
  align-content: flex-start; */
  justify-content: flex-end;
  font-size: calc(20px + 1.5vmin);
  color: white;
}

.region {
  border: 1px solid #fff;
  height: 20vh;
  width: 17vw;
  display: flex;
  justify-content: flex-start;
}

.region-button {
  background-image: url("/africa-01.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 17vw;
  display: flex;
  justify-content: start;
  text-align: left;
}

.link {
  /* background: transparent; */
  opacity: 0.1;
  border-radius: 50%;
  border: 8px solid black;
  color: black;
  transition: opacity 2s;
}

.india {
  height: 2.7em;
  width: 2.7em;
  position: absolute;
  top: 64%;
  left: 62.7%;
  border-color: orange;
}

.india:hover {
  opacity: 0.9;
}





.card {
  text-transform: uppercase;
  text-align: left;


}

.card-body {
  text-transform: uppercase;
  text-align: left;
   background-color: #243447;
  color: #ffffff;

}

.card-text {
  color: #fff;
}

.dark-mode .card {
  background-color: #243447;
  color: #ffffff;
}

.dark-mode .card h3 {
  color: #C51F5D
}

.light-mode .card {
   background-color: #243447;
  color: #ffffff;
}

.light-mode .card h3 {
  color: #FFB347;
}

.btn {
  /* outline: none; */
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

svg {
  display: inline-block;
  vertical-align: middle;
  max-height: 400px;
  width: 100%;
  padding: 0;
}


